.form-horizontal{:role => "form"}
  %h5.text-center
    Select any one of the options to take test:
  =form_tag  ({controller: "scores",action:"index"}) ,method: "get"  do
    =hidden_field_tag "user_id", @user_id
    %p.text-center
      =select_tag "topic_id", options_from_collection_for_select(Topic.all,"id","topic_name"),class:"btn btn-info"
    %br
    %p.text-center
      =submit_tag "Processed test",class:"btn btn-info"

  %p
    %strong Note:
    Once you select the Topic,you can not change it back,Processed carefully


-#  = link_to "Write Test",scores_path(:student_id=>@student.id,:topic_id=>@topic_id.second.id)
      -#  -#,:confirm => "Are you sure want to continue?"