#form-container
  %br
  %p
    %storng Sl.no:
    =@question.sl_no
  %p
    %strong Question:
    =@question.question
  %p
    %strong Options:
    %li=@question.option_a
    %li=@question.option_b
    %li=@question.option_c
  %p
    %strong Answer
    =@question.answer
%br
  = link_to 'BACK',questions_path