#form-container

  .question-table-th
    %table
      %tr
        %th Name
        - @user1.each do |answer|
          %tr
            %td
              =answer.name
              =hidden_field_tag "student_id","#{answer.id}"
              =link_to "show",student_individual_answer_questions_path(:student_id =>"#{answer.id}")
