%table.table.table-striped.table-hover
  %tr
    %th Name
    %th Email
    - @student_answer.each do |student_answer|
      %tr
        %td
          =student_answer.username
        %td
          =student_answer.email
          =link_to "Answer Details",student_individual_answer_questions_path(:student_id =>"#{student_answer.id}")
          =link_to "Destroy",student_path(student_answer),
                method: :delete,data:{confirm:'Are you sure ?'}
