%h4
  Candidates list :
=form_tag student_answer_questions_path,:method=>"get", :remote=> true do
  =text_field_tag :search,params[:search],class:"form-control",:placeholder=>"Search"
  %br
    =submit_tag "Search",:name=>nil, class:"btn btn-info"
#result_list_for_topics

