#form-container
  %table
    .question-table-th
      %tr
        %th
          %strong Name
        - @user1.each do |answer|
          %tr
            %td
              =answer.name
              =link_to "show",student_indivisual_answer_questions_path