.form-horizontal{:role => "form"}
  =form_for :signin,method: "POST" do |f|
    .text-center.signin_header
      =f.label "Please Sign in ",class: :input_note1
    %p
      =f.label :name,class: :input_note

      =f.text_field :name,class:"form-control",placeholder:"Name",:autofocus=>true
    %p
      =f.label :password,class: :input_note

      =f.password_field :password,class:"form-control",placeholder:"Password",:autofocus=>true
    %p
      =f.submit "Sign in",class:"btn btn-info"
      =link_to "Sign up",new_student_path,class:"btn btn-info"