.form-horizontal{:role => "form"}
  = form_for @student  do |f|
    -if @student.errors.any?
      #error_explanation
        =pluralize(@student.errors.count,'error')
        Prohibited to save student details
      %ul
        =@student.errors.full_messages do |msg|
          %li= msg
    #form-button
      %p.text-center.signin_header
        =f.label "Enter details for student Sign up",class: :input_note1
      .clear_cls
        %p
      .clear_cls
        %p
          =f.text_field :name,:placeholder=>"Name",class:"form-control"
      .clear_cls
        %p
          =f.text_field :qualification,:placeholder =>"Qualification",class:"form-control"
      .clear_cls
        %p
          =f.text_field :age,:placeholder => "Age",class: :textbox,class:"form-control"
      .clear_cls
        %p
          =f.email_field :email,:placeholder => "Email",class:"form-control"
      .clear_cls
        %p
          =f.password_field :password,:placeholder =>"password",class:"form-control"
      .clear_cls
        %p
          =f.password_field :password_confirmation,:placeholder =>"Password_Confirmation",class:"form-control"
          =f.submit "Submit",class:"btn btn-info"
    .cls