.text-center
  .col
    %h1
      Welcome to the Aptitude test
    %h1
      Click the link to take test
    %h4
      =hidden_field_tag "user_id",@user_id
      = non_restfull_link Question, :select_topic,"Write test",select_topic_questions_path
