#form-container
  %h3
    The Student details are like this:
  %p
    %strong Name:
    =@student.name
  %p
    %strong Qualification:
    =@student.qualification
  %p
    %strong Age:
    =@student.age
  %p
    %strong Email:
    =@student.email
    %br

    %h4
      Select any one of the options to take test:

  =form_tag  ({controller: "scores",action:"index"}) ,method: "get"  do
    =hidden_field_tag "student_id" , @student.id
    %p
      =select_tag "topic_id", options_from_collection_for_select(Topic.all,"id","topic_name")
    %p
    =submit_tag "Write test",class: :submit_student

    -#  = link_to "Write Test",scores_path(:student_id=>@student.id,:topic_id=>@topic_id.second.id)
    -#  -#,:confirm => "Are you sure want to continue?"