.form-horizontal{:role => "form"}
  %h3
    The Student details are like this:
  %p
    %strong Name:
    =@student.name
  %p
    %strong Qualification:
    =@student.qualification
  %p
    %strong Age:
    =@student.age
  %p
    %strong Email:
    =@student.email
  %p
    %h4
      Select any one of the options to take test:
  =form_tag  ({controller: "scores",action:"index"}) ,method: "get"  do
    =hidden_field_tag "student_id" , @student.id
  %p
    =select_tag "topic_id", options_from_collection_for_select(Topic.all,"id","topic_name"),class:"btn btn-info"
  %p
    =submit_tag "Write test",class:"btn btn-info"