.topic-form
  = form_for @topic,url:{action: :create} do |f|
    %p.text-center
      =f.label :topic_name,"Topic Name "
    %p
      =f.text_field :topic_name,:placeholder=>"Name",class:"form-control"
    %p
      =f.text_field :description,:placeholder=>"Description",class:"form-control"
    %p
      =f.submit "Save Topic", class:"btn btn-info"
.topic-form
  =form_tag topics_path ,:method=>"get", :remote=> true do
    =text_field_tag :search,params[:search],class:"form-control"
    %br
      =submit_tag "Search",:id => "search",:name=>nil, class:"btn btn-info", :onclick => "topics_result_list('topics/new');"
#result_list_for_topics.topic-form


