$("#result_list_for_topics").html("#{ escape_javascript(render "form",)}")

-#$('#esi_applicability_form').html("#{ escape_javascript(render "form", :employee_esi_contribution_restrict => @employee_esi_contribution_restrict, :employee_id => @employee_id)}");