// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signin_header
{
  padding-top: 10px;
  background-color: #39b3d7;
  padding-right: 25px;
  color: #DADADA;
  width: 500px;
}
